.container {
  background-color: #fff;
  width: 60%;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 3rem 2rem;
}

.Q_A-contain {
  display: flex;
}

.Q_A-heading {
  width: 30%;
  font-weight: 500;
}

.Q_A {
  width: 60%;
  margin-left: 8%;
}

.Q_A-alternate {
  border-radius: 5px;
  box-shadow: 1px 1px 5px 2px rgb(209, 209, 209);
  padding: 15px 15px;
  margin-bottom: 1.7rem;
}

.title-with-button {
  display: flex;
  position: relative;
}

.title {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-right: 35px;
}
.btn-contain {
  display: block;
  background-color: rgba(219, 219, 219, 0.7);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  right: 0;
}

.btn {
  position: absolute;
  right: 6px;
  top: 5px;
  font-size: 24px;
  background-color: transparent;

  color: RGB(202, 107, 138);
  border: none;
  font-weight: 100;
  cursor: pointer;
}

.info {
  font-size: 16px;
  margin-right: 45px;
  line-height: 22px;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 70%;
    padding-left: 10px;
  }
  .Q_A-contain {
    display: grid;
  }
  .Q_A-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 1.8rem;
  }
  .Q_A {
    width: 90%;
  }
  .info {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .container {
    width: 80%;
    padding-left: 0;
  }
  .Q_A-heading {
    font-size: 24px;
  }
  .Q_A {
    width: 100%;
    margin-left: 15px;
  }
  .title {
    font-size: 18px;
  }
}
